<div id="<%= dom_id order %>" class="px-6 py-4 bg-slate-800 bg-opacity-80 rounded text-white">
  <p class='uppercase text-center font-bold text-lg py-4'>Xác nhận đơn hàng</p>

  <p class="pb-1">
    <strong><%= Order.human_attribute_name(:name) %>:</strong>
    <%= order.name %>
  </p>

  <p class="pb-1">
    <strong><%= Order.human_attribute_name(:phone_number) %>:</strong>
    <%= order.phone_number %>
  </p>

  <p class="pb-1">
    <strong><%= Order.human_attribute_name(:shipping_address) %>:</strong>
    <%= order.shipping_address %>
  </p>

  <p class="pb-1">
    <strong><%= Order.human_attribute_name(:quantity) %>:</strong>
    <%= order.quantity %>
  </p>

  <p class="pb-1">
    <strong><%= Order.human_attribute_name(:bank_account_number) %>:</strong>
    <%= order.bank_account_number %>
  </p>

  <p class="pb-1">
    <strong><%= Order.human_attribute_name(:bank_name) %>:</strong>
    <%= order.bank_name %>
  </p>

  <p class="pb-1">
    <strong><%= t('.total') %>:</strong>
    <%= number_to_currency(order.price, unit: "VNĐ", format: "%n %u", delimiter: ".", separator: ",", precision: 0) %>
  </p>

  <p class="py-8 pb-4 text-center">
    <%= link_to 'Thanh toán', @checkout_url, class: 'w-full btn-primary uppercase py-4 bg-slate-500 text-white' %>
  </p>
</div>
